custom:
  pg_host: samin.dev
  pg_port: 5432
  pg_database: samin-dev
  pg_username: auth
  pg_password: auth123456
  # pg_schema: public
  redis_host: samin.dev
  redis_port: 6379
  redis_password: dev_plat@123
  redis_database: 1

spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    # 不指定 schema，entity 中指定
    url: jdbc:postgresql://${custom.pg_host}:${custom.pg_port}/${custom.pg_database}?stringtype=unspecified
    # url: jdbc:postgresql://${custom.pg_host}:${custom.pg_port}/${custom.pg_database}?currentSchema=${custom.pg_schema:public}&stringtype=unspecified
    username: ${custom.pg_username}
    password: ${custom.pg_password}
    driver-class-name: org.postgresql.Driver
    initialSize: 5
    minIdle: 5
    maxActive: 50
    maxWait: 120000
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        # INFO 级别时候配置可以输出 SQL，DEBUG 级别下，配置形同虚设
        show_sql: false
        format_sql: true
  redis:
    host: ${custom.redis_host}
    port: ${custom.redis_port}
    password: ${custom.redis_password}
    database: ${custom.redis_database}
    lettuce:
      pool:
        min-idle: 5
        max-active: 10
        max-wait: 3000

knife4j:
  # 开启增强
  enable: true
  # 开启生产环境保护
  production: false
  # 开启 Swagger 的 Basic 认证功能,默认是 false
  basic:
    enable: false
    # Basic认证用户名
    username: knifeAdmin
    # Basic认证密码
    password: knifeAdmin

logging:
  level:
    root:
    org.hibernate.SQL: INFO

jwt:
  # JWT 存储的请求头
  tokenHeader: Authorization
  # JWT 加解密使用的密钥
  secret: authdev
  # JWT 的超期限时间 (60*60*24*7)
  expiration: 604800
  # JWT 负载中拿到开头
  tokenHead: 'Bearer '
