version: "3.3"

services:
    redis_secondary:
        container_name: redis_secondary
        restart: always
        image: bitnami/redis:latest
        command: /opt/bitnami/scripts/redis/run.sh --appendonly yes
        environment:
            - "REDIS_REPLICATION_MODE=slave"
            - "REDIS_MASTER_HOST=192.168.10.10"
            - "REDIS_MASTER_PORT_NUMBER=6379"
            - "REDIS_MASTER_PASSWORD=master_scp_pwd"
            - "REDIS_PASSWORD=samin"
        volumes:
            - /mng/data/redis_secondary:/bitnami/redis/data
        ports:
            - 6379:6379